.skillItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    width: 27%;
    background: #ffffff;
}

.skillItem img{
    width:100px;
    height: 100px;
    background-color: #979797;
}

.skillItem span{
    font-weight: bolder;
    font-size: 24px;
}

.skillItem .descriptionSkill{
    height: 50%;
    width: 75%;
    border: 1px solid;
}

@media screen and (max-width: 850px){
    .skillItem{
        display: flex;
        height: 380px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid;
        width: 280px;
    }

    .skillItem img{
        width:80px;
        height: 80px;
        background-color: #979797;
    }

    .skillItem span{
        font-weight: bolder;
        font-size: 20px;
    }

    .skillItem .descriptionSkill{
        border: 1px solid;
        height: 60%;
        min-width: 65%;
    }
}