.mainInfo {
    background-color: #DFDFDF;
    background-size: cover;
    height: 90vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.mainInfo img{
    position: absolute;
    z-index: 2;
}
.mainInfo .flower {
    right: -175px;
    top: 100px;
    transform: rotate(230deg);
}
.mainInfo .tablet {
    right: -250px;
    bottom: -100px;
}
.mainInfo .pen {
    right: 360px;
    bottom: 0;
}
.mainInfo .papers {
    left: -350px;
    bottom: -400px;
}
.mainInfo .red_marker {
    left: 200px;
    bottom: -100px;
}
.mainInfo .black_marker {
    left: 140px;
    bottom: 180px;
}
.mainInfo .paperclip_1 {
    left: 600px;
    bottom: 200px;
}
.mainInfo .paperclip_2 {
    left: 660px;
    bottom: 170px;
    transform: rotate(55deg);
}

.mainInfo .container {
    max-width:60%;
    display: flex;
    margin-left: 250px;
    justify-content: space-between;
    align-items: center;
}

.mainInfo .container .greeting{
    color: #232323;
    text-align: left;
    line-height: 1.6;
    font-size: 1.2em;
}

.mainInfo .container .greeting div:nth-child(2){
    font-size: 2em;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.mainInfo .container .greeting div:nth-child(2):after{
    content: '';
    position: absolute;
    bottom:0;
    right:0;
    width:370px;
    height: 20px;
    background-color: #FF214F;
    z-index: -1;
}

.mainInfo .container .greeting h1{
    margin:0;
    font-size: 1.5em;
}

.mainInfo .container .photo{
    background-image: url("../../images/I.jpg");
    background-size: cover;
    width: 300px;
    height: 400px;
    align-self: start;
    margin-top: 10%;
    display: block;
    position: relative;
}

.mainInfo .container .photo:after{
    content: '';
    position: absolute;
    left: 15px;
    top: -17px;
    width: 290px;
    height: 420px;
    border: 7px solid #FF214F;
    z-index:-1;
}

@media screen and (max-width:850px) {
    .mainInfo {
        height: auto;
    }

    .mainInfo .container {
        width: 100%;
        flex-direction: column;
        justify-content: start;
        padding-bottom: 70px;
    }

    .mainInfo .container .greeting {
        text-align: left;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bolder;
    }
}