.mainInfo {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: calc(100vh - 70px);
    background-color: #dfdfdf;
    background-size: cover;
}

.mainInfoScroll {
    padding-top: 170px;
}

.mainInfo img {
    position: absolute;
    z-index: 2;
}

.mainInfo .flowerScroll {
    top: 270px;
}

.mainInfo .flower {
    top: 70px;
    right: -175px;
    transform: rotate(230deg);
    animation: moveFlower 2s;
}

@keyframes moveFlower {
    from {
        top: -200px;
        right: -400px;
        transform: rotate(310deg);
    }
    to {
        top: 70px;
        right: -175px;
        transform: rotate(230deg);
    }
}

.mainInfo .tablet {
    right: -250px;
    bottom: -100px;
    animation: moveTablet 2s;
}

@keyframes moveTablet {
    from {
        right: -500px;
        bottom: -300px;
        transform: rotate(-60deg);
    }
    to {
        right: -250px;
        bottom: -100px;
        transform: rotate(0);
    }
}

.mainInfo .pen {
    right: 360px;
    bottom: 0;
    animation: movePen 2s;
}

@keyframes movePen {
    from {
        right: 500px;
        bottom: -300px;
        transform: rotate(-100deg);
    }
    to {
        right: 360px;
        bottom: 0;
        transform: rotate(0);
    }
}

.mainInfo .papers {
    bottom: -450px;
    left: -350px;
    transform: rotate(280deg);
    animation: movePapers 2s;
}

@keyframes movePapers {
    from {
        bottom: 0;
        left: -1000px;
        transform: rotate(360deg);
    }
    to {
        bottom: -450px;
        left: -350px;
        transform: rotate(280deg);
    }
}

.mainInfo .red_marker {
    bottom: -100px;
    left: 200px;
    animation: moveRed_marker ease-in-out 2.5s;
}

@keyframes moveRed_marker {
     from {
         bottom: -700px;
         left: 200px;
         transform: rotate(90deg);
     }
     to {
         bottom: -100px;
         left: 200px;
         transform: rotate(0);
     }
 }

.mainInfo .black_marker {
    bottom: 180px;
    left: 140px;
    animation: moveBlack_marker ease-in-out 2.5s;
}

@keyframes moveBlack_marker {
    from {
        bottom: 0;
        left: -500px;
        transform: rotate(-180deg);
    }
    to {
        bottom: 180px;
        left: 140px;
        transform: rotate(0);
    }
}

.mainInfo .paperclip_1 {
    bottom: 200px;
    left: 600px;
    animation: moveClip_1 2s
}

@keyframes moveClip_1 {
    from {
        bottom: -200px;
        left: 700px;
        transform: rotate(45deg);
    }
    to {
        bottom: 200px;
        left: 600px;
        transform: rotate(0);
    }
}

.mainInfo .paperclip_2 {
    bottom: 170px;
    left: 660px;
    transform: rotate(55deg);
    animation: moveClip_2 3s
}

@keyframes moveClip_2 {
    from {
        bottom: -300px;
        left: 1000px;
        transform: rotate(90deg);
    }
    to {
        bottom: 170px;
        left: 660px;
        transform: rotate(55deg);
    }
}

.mainInfo .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60%;
    margin-left: 250px;
}

.mainInfo .container .greeting {
    font-size: 1.2em;
    line-height: 1.6;
    font-weight: 600;
    text-align: left;
    color: #232323;
}

.mainInfo .container .greeting div:nth-child(2) {
    font-family: Montserrat, sans-serif;
    font-size: 1.8em;
    position: relative;
    z-index: 1;
}

.mainInfo .container .greeting div:nth-child(2):after {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 6px;
    width: 273px;
    height: 15px;
    content: '';
    background-color: #ff214f;
}

.mainInfo .container .greeting h1 {
    font-size: 1.5em;
    margin: 0;
}

.mainInfo .container .photo {
    position: relative;
    width: 300px;
    height: 400px;
    margin-top: 100px;
    background-image: url('../../images/I.jpg');
    background-size: cover;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(0);
}

.mainInfo .container .backSide {
    position: relative;
    transform: perspective(500px) rotateY(180deg);
    width: 300px;
    height: 400px;
    margin-top: 100px;
    /*backface-visibility: hidden;*/
}

.mainInfo .container .photo:hover {
    transform: rotateY(180deg);
    transition: 2s ;
}


.mainInfo .container .photo:after {
    position: absolute;
    z-index: -1;
    top: -17px;
    left: 15px;
    width: 290px;
    height: 420px;
    content: '';
    border: 7px solid #ff214f;
}

@media screen and (max-width: 1440px), (min-device-aspect-ratio: 16/9) {
    .mainInfo .flower {
        width: 450px;
        top: 80px;
        right: -130px;
    }

    .mainInfo .flowerScroll {
        top: 250px;
    }

    .mainInfo .tablet {
        width: 600px;
        right: -220px;
        bottom: -120px;
    }

    .mainInfo .pen {
        width: 280px;
        right: 290px;
        bottom: -90px;
    }

    .mainInfo .papers {
        width: 800px;
        bottom: -360px;
        left: -310px;
    }

    .mainInfo .red_marker {
        width: 270px;
    }

    .mainInfo .black_marker {
        width: 190px;
        bottom: 140px;
        left: 110px;
    }

    .mainInfo .paperclip_1 {
        width: 45px;
        bottom: 120px;
        left: 510px;
    }

    .mainInfo .paperclip_2 {
        width: 46px;
        bottom: 100px;
        left: 560px;
        transform: rotate(50deg);
    }

    .mainInfo .container {
        max-width: 65%;
        margin-left: 150px;
        justify-content: space-around;
    }

    .mainInfo .container .greeting {
        font-size: 1em;
        line-height: 1.5;
    }

    .mainInfo .container .greeting div:nth-child(2):after {
        right: -2px;
        bottom: 3px;
        width: 346px;
        height: 15px;
    }

    .mainInfo .container .photo {
        width: 250px;
        height: 335px;
    }

    .mainInfo .container .photo:after {
        width: 240px;
        height: 355px;
    }
}

@media screen and (max-width: 1100px) {
    .mainInfo .flower,
    .mainInfo .flowerScroll,
    .mainInfo .tablet,
    .mainInfo .pen,
    .mainInfo .papers,
    .mainInfo .red_marker,
    .mainInfo .black_marker,
    .mainInfo .paperclip_1,
    .mainInfo .paperclip_2 {
        display: none;
    }

    .mainInfo {
        height: 80vh;
    }

    .mainInfo .container {
        max-width: 80%;
        justify-content: space-between;
        margin: 0 auto;
    }

    .mainInfo .container .greeting {
        font-size: 0.85em;
        line-height: 1.4;
    }

    .mainInfo .container .greeting div:nth-child(2):after {
        width: 295px;
        height: 12px;
    }

    .mainInfo .container .photo {
        width: 220px;
        height: 295px;
    }

    .mainInfo .container .photo:after {
        width: 210px;
        height: 315px;
    }

}

@media screen and (max-width: 760px) {
    .mainInfo .container {
        max-width: 90%;
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }

    .mainInfo .container .greeting div:nth-child(2):after {
        display: none;
    }

    .mainInfo .container .photo {
        align-self: center;
        width: 250px;
        height: 335px;
    }

    .mainInfo .container .photo:after {
        width: 240px;
        height: 355px;
    }
}

@media screen and (max-width: 360px) {
    .mainInfo {
        height: 600px;
    }

    .mainInfo .container {
        max-width: 90%;
        height: 90%;
    }

    .mainInfo .container .greeting {
        font-size: 1.0em;
        line-height: 1.6;
        text-align: center;
    }

    .mainInfo .container .greeting div:nth-child(2){
        font-size: 1.5em;
    }
    .mainInfo .container .greeting h1{
        font-size: 1.3em;
    }

    .mainInfo .container .photo {
        align-self: center;
        width: 220px;
        height: 295px;
    }

    .mainInfo .container .photo:after {
        width: 207px;
        height: 315px;
    }





}

