.slogan {
    background-color: #b9649b;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan .container {
    width: 75%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}

.slogan .container .sloganText {
    font-size: 22px;
    background-color: #979797;
    font-weight: bolder;
    padding: 0 10px;
}

.slogan .container .hireMeBtn {
    background-color: #535353;
    width: 150px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}
.slogan .container .hireMeBtn span{
    font-size: 20px;
    font-weight: bolder;
}

@media screen and (max-width: 850px){
    .slogan {
        height: 400px;
    }

    .slogan .container {
        width: 60%;
        height: 50%;
    }

    .slogan .container .sloganText {
        background-color: transparent;
    }

}

