.mobileNavMenu {
    position: relative;
    display: none;
    cursor: pointer;
}

.mobileNavMenu img{
    width: 30px;
}

.mobileNavMenu .mobileMenu {
    position: absolute;
    z-index: 2;
    top: 53px;
    left: -114px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #DFDFDF;
}

.mobileNavMenu .mobileMenu a,
.mobileNavMenu .mobileMenuBlack a
{
    justify-self: auto;
    width: 100%;
    text-align: left;
    height: 100%;
    padding: 8px 0 0 20px;
    border-bottom: 1px solid #ccc;
}

.mobileNavMenu .mobileMenu a:hover {
    background-color: #232323;
}

.mobileNavMenu .mobileMenuBlack {
    background-color: #000000;
}

@media screen and ( max-width: 760px) {
    .mobileNavMenu{
        display: block;
    }
}