$white: #ffffff;
$black: #000000;
$grayOnDark: #A3A3A3;
$grayOnLight: #6f6f6f;
$formBG: #1c1c1c;
$darkFont: #232323;
$footerHeaderBG: #131313;
$coral: #FF214F;
$photoBackBorder: #949494;
$photoBackBG: #cccccc;
$mainInfoBG: #dfdfdf;
$skills: #aeaeae;
$sloganBG: #f7f7f7;
$borderMessage: #373737;
