.contactsBlock {
    width:30%;
    text-align: left;
}

.contactsBlock .headerBlockWrap {
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-bottom: 60px;
}

@media screen and (max-width: 1100px){
    .contactsBlock {
        width:35%;
    }
}

@media screen and (max-width: 760px){
    .contactsBlock {
        width:100%;
        text-align: center;
    }

    .contactsBlock .headerBlockWrap {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .contactsBlock .infoItemsWrap {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}






