.headerBlock {
    margin-bottom: 50px;
}

.headerBlock span{
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.headerBlock span::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 2.5%;
    height: 10px;
    width: 95%;
    background-color: #FF214F;
    z-index: -1;
}

@media screen and (max-width: 760px) {
    .headerBlock {
        margin-bottom: 25px;
    }
}

