.header {
    background-color: #DFDFDF;
    height: 70px;
    display: flex;
    justify-content: center;
}

.header .container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and ( max-width: 850px) {
    .header .container{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}