@import "../../styles/colors";

.header {
    position: fixed;
    z-index: 5;
    background-color: $mainInfoBG;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: .5s;

    .container {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.headerBlack {
    background-color: $footerHeaderBG;
}

@media screen and (max-width: 760px) {
    .header .container {
        width: 85%;
        justify-content: flex-end;
    }

}