.header {
    background-color: #dfdfdf;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerBlack {
    background-color: #000000;
    position: fixed;
    z-index: 5;
}

.container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and ( max-width: 760px) {
    .container{
        width: 85%;
        justify-content: flex-end;
    }
    
}