.header {
    background-color: #6293ff;
    height: 70px;
    display: flex;
    justify-content: center;
}

.header .container{
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border:1px solid;
}