.navMenu {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.navMenu .link {
    text-decoration: none;
    color:#ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.navMenu .link:hover {
    color:#979797;
}

@media screen and ( max-width: 850px) {
    .navMenu{
        min-width: 320px;
        padding: 0 5px;
    }
}