.navMenu {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.navMenu .link {
    text-decoration: none;
    color:white;
}

@media screen and ( max-width: 650px) {
    .navMenu{
        width: 320px;
    }
}