.projectsItem{
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.projectsItem .wrapPhoto{
    position: relative;
}

.projectsItem .wrapPhoto .photoProject{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsItem .wrapPhoto .btnWrap {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 75px);
    z-index: 1;
    opacity: 0.6;
}

.projectsItem .wrapPhoto .btnWrap:hover {
    opacity: 1;
}


.projectsItem .projectDescription{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: relative;
}

.projectsItem .projectDescription:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width:20px;
    height: 3px;
    background-color: #FF214F;
}

.projectsItem .projectDescription .descriptionBlock{
    width:90%;
}

.projectsItem .projectDescription .descriptionBlock .projectName{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #232323;
    text-align: left;
    margin-bottom: 5px;
}

.projectsItem .projectDescription .descriptionBlock .aboutProject{
    font-size: 14px;
    text-align: left;
}

@media screen and (max-width: 850px){
    .projectsItem{
        width: 80%;
        height: 40%;
        margin: 0 auto;
        border: 1px solid;
    }

    .projectsItem .photoProject{
        height:75%;
    }

    .projectsItem .projectDescription{
        height:25%;
    }

    .projectsItem .projectDescription .descriptionBlock .projectName,
    .projectsItem .projectDescription .descriptionBlock .aboutProject{
        background-color: transparent;
        font-weight: bolder;
    }

    .projectsItem .photoProject .projectShowBtn{
        font-size: 20px;
        font-weight: bolder;
    }

}

@media screen and (max-width: 650px){
    .projectsItem {
        width: 100%;
    }
}












