.projectsItem{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid;
}

.projectsItem .photoProject{
    height:75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #979797;
    border: 1px solid;
}

.projectsItem .photoProject .projectShowBtn{
    height:40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #535353;
    border: 1px solid;
    font-size: 20px;
    font-weight: bolder;
}

.projectsItem .projectDescription{
    height:25%;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    padding:10px;
}

.projectsItem .projectDescription .descriptionBlock{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    border: 1px solid;
}

.projectsItem .projectDescription .descriptionBlock .projectName{
    height: 25%;
    background-color: #b9b9b9;
    text-align: left;
    margin-bottom: 5px;
}

.projectsItem .projectDescription .descriptionBlock .aboutProject{
    width:100%;
    height: 75%;
    background-color: #b9b9b9;
    text-align: left;
}

@media screen and (max-width: 850px){
    .projectsItem{
        width: 80%;
        height: 40%;
        margin: 0 auto;
        border: 1px solid;
    }

    .projectsItem .photoProject{
        height:75%;
    }

    .projectsItem .projectDescription{
        height:25%;
    }

    .projectsItem .projectDescription .descriptionBlock .projectName,
    .projectsItem .projectDescription .descriptionBlock .aboutProject{
        background-color: transparent;
        font-weight: bolder;
    }

    .projectsItem .photoProject .projectShowBtn{
        font-size: 20px;
        font-weight: bolder;
    }

}

@media screen and (max-width: 650px){
    .projectsItem {
        width: 100%;
    }
}












