.projects {
    background-color: #17a121;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
}

.projects .container .projectsHeader{
    height: 200px;
}

.projects .container .projectsBlock{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}
