.footer {
    background-color: #a8612d;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .container{
    width: 75%;
    height: 200px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer .container span {
    background-color: #979797;
    font-weight: bolder;
}

.footer .container span:first-child {
    font-size: 22px;
    padding: 0 10px;
}

.footer .container .iconBlock {
    width:400px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.footer .container .iconBlock img{
    width:55px;
    height: 55px;
    background-color: #979797;
}


@media screen and (max-width: 850px){
    .footer .container {
        width: 100%;
    }

    .footer .container .iconBlock {
        width: 50%;
    }
}

@media screen and (max-width: 650px){
    .footer .container .iconBlock {
        width: 75%;
    }
}






